# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=aurora-postgres-poc-new.cluster-cj0qi242sauj.us-west-2.rds.amazonaws.com
DB_PORT=5432
DB_DATABASE=medical_billing_db

# AWS Configuration
#AWS_REGION=us-west-2
BEDROCK_MODEL_ID=mistral.mistral-7b-instruct-v0:2
AUDIT_MODEL=mistral.mistral-7b-instruct-v0:2

# Application Settings
PORT=5001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173